.ShoppingCart{
    display: flex;
    justify-content: space-evenly;
    width:70%;
    margin:10px auto;
    text-align: center;
    font-size: 18px;
    
}
label{
    padding:5px 0 0 0;
}
.container{
    width:80%;
    height: 225px;
    border:1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    background-color: whitesmoke;
    padding:10px;
    margin: 10px auto;
    box-sizing: border-box;
    text-align: center;
}